html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */
  p {
      width: 200px;
      height: 50px;
      font-size: 1.125rem; /* 値の導き方　　１８ / 現在のフォントサイズ = 1.125 */
      color: red;
      background-color: red;
      background-image: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0.2) 30%);
      border: 1px solid rgb(144, 4, 4);
      border-radius: 8px;
      text-align: center;
      line-height: 50px;
      box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.527),
                  inset -3px -3px 3px rgba(0,0,0,0.5),
                  2px 2px 5px rgba(85, 85, 85, 0.899);
      text-shadow: 1px 1px rgba(0,0,0,0.5);
  }